name: Build LaTeX CV

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Compile LaTeX Document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          latexmk_use_lualatex: true

      - name: Upload PDF as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CV_Matys_Laguerre
          path: main.pdf
          retention-days: 90
